# Dependências
node_modules/

# Build Vite
dist/

# Build Tauri
src-tauri/target/

# Logs
*.log

# Variáveis locais
.env.local
.env.desktop

# Arquivos do sistema
.DS_Store
Thumbs.db

# GitHub Desktop
.github/

# Cache de builds locais
.build-cache/

# Android / Gradle
.gradle/
**/.gradle/

# Arquivos gerados pelo Android
**/build/